{{ define "main" }}

<article class="post-20 page type-page status-publish has-post-thumbnail hentry" id="post-20">
  {{ with .Site.Params.banner }}
  <header class="entry-header has-text-align-center header-footer-group">
    <div class="entry-header-inner section-inner medium">
      <h5 class="entry-title">{{ .heading | markdownify }}</h5>
      <p class="entry-title">
        Building a strong security culture in the Filecoin project has been one of our core goals from day zero of the project. It goes from creating bleeding edge, researched, and evaluated mathematical proofs that set the foundation for the critical operations executed in the Filecoin Protocol (e.g. Proof of Replication & Proof of Space Time), to building a culture of strong security habits, secure code development and testing, through working with multiple external security specialists, pentesters and researchers to audit our code and practices. Security is of utmost importance in any sound decentralized network.
      </p>
      <h5 class="entry-title">
        We invite all security researchers in joining us to maintain the security of the Filecoin Network.
      </h5>
    </div>
  </header>
  {{ end }}

  {{ with.Site.Params.banner.image}}
  <figure class="featured-media">
    <div class="featured-media-inner section-inner">
      <img width="1200" height="769" src="{{ . | absURL }}"
        class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt=""
        sizes="(max-width: 1200px) 100vw, 1200px" />
    </div>
  </figure>
  {{end}}

  <div class="post-inner thin">
    <a name="vulnerability-reporting"></a>
    <div class="entry-content">
      <div class="wp-block-group alignwide">
        <div class="wp-block-group__inner-container">
          <h2 class="has-text-align-center">Vulnerability Reporting</h2>
          <p class="entry-content main">Almost anything you find that is a bug in the codebase should be filed as an issue on Github. However, when you find a bug that is also a security vulnerability and can compromise the integrity of the live network, please bring it to our attention right away.</p>
          <p class="entry-content main"><strong>We’ve created two main channels for reporting:</strong></p>
          <ul class="entry-content main">
            <li>Send an email to <a href = "mailto:security@filecoin.org">security@filecoin.org</a>. This email is monitored everyday. Please use <a href="https://github.com/filecoin-project/community/blob/master/public.key" target="_blank">our PGP key</a> to encrypt sensitive information.</li>
            <li>Alternatively, request to join the <strong>filecoin-sec</strong> team on <a href="https://keybase.io">Keybase</a>, where we can set up a private channel to discuss.</li>
          </ul>
          <p class="entry-content main">Please <strong>do not</strong> file a public issue or discuss the vulnerability in public places like Slack, Twitter, etc.</p>
        </div>
      </div>

      <div class="wp-block-group alignwide has-background" style="background-color:#ffffff">
        <div class="wp-block-group__inner-container">
          <h2 class="has-text-align-center">Participate in the Filecoin Bug Bounty</h2>
          <p class="has-text-align-center">We created a program to reward all security researchers, hackers and security afficionados that invest time into finding bugs on the Filecoin protocol and its respective implementations.</p>
          <p class="has-text-align-center">Reported security vulnerabilities are eligible for a Bug Bounty.</p>
          <div class="wp-block-button aligncenter"><a class="wp-block-button__link"
              href="/bugbounty/">Learn how</a></div>
        </div>
      </div>

      <div class="wp-block-columns columns alignwide">
        <div class="column">
          <img src="/images/2020-three-quarters-4.jpg" alt="Security Audits" class="wp-image-37">
          <h3>Security Audits</h3>
          <p style="flex-grow:1">Protocol implementations have undergone rigorous third-party auditing. Audit reports are linked in the Filecoin Specification under Implementation Status.</p>
          <div class="wp-block-button is-style-outline"><a class="wp-block-button__link" href="https://spec.filecoin.io/#intro__implementations-status">Audit Reports</a></div>
        </div>
        
        <div class="column">
          <img src="/images/2020-three-quarters-3.jpg" alt="Responsible Disclosure" class="wp-image-37">
          <h3>Responsible Disclosure</h3>
          <p style="flex-grow:1">We have a Coordinated Disclosure policy. We will make a best effort to address all vulnerabilities as soon as possible and coordinate with the researcher the disclosure of the finding.</p>
          <div class="wp-block-button is-style-outline"><a class="wp-block-button__link" href="/responsible-disclosure">Responsible Disclosure</a></div>
        </div>
        
        <div class="column">
          <img src="/images/2020-three-quarters-1.jpg" alt="Bug Bounty" class="wp-image-37">
          <h3>Bug Bounty</h3>
          <p style="flex-grow:1">We've created this program for all security researchers to collaborate with the Filecoin project. All findings submitted that fall within the rules of the program will receive a reward.</p>
          <div class="wp-block-button is-style-outline"><a class="wp-block-button__link" href="/bug-bounty">Bug Bounty</a></div>
        </div>

        <div class="column">
          <img src="/images/2020-three-quarters-2.jpg" alt="Security Updates" class="wp-image-37">
          <h3>Security Updates</h3>
          <p style="flex-grow:1">We will announce any major security events on this page as well as via Filecoin Community Slack and Twitter.</p>
          <div class="wp-block-button is-style-outline"><a class="wp-block-button__link" href="/updates">Security Updates</a></div>
        </div>
      </div>
    </div><!-- .entry-content -->
  </div><!-- .post-inner -->
</article>

{{ end }}
